name: Run Quality Report

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    name: Run Quality Report
    runs-on: macos-14
    permissions:
      contents: write

    steps:
      - name: Add path globally
        run: echo "/usr/local/bin" >> $GITHUB_PATH

      - name: Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # pin@v4
        with:
          lfs: 'true'

      - name: Xcode select
        run: |
          sudo xcode-select -s /Applications/Xcode_15.2.app

      - name: Build and Test
        run: |
          xcodebuild -workspace "GDSCommon-Demo.xcworkspace" -scheme GDSCommon-Demo test \
           -destination "platform=iOS Simulator,name=iPhone 15,OS=latest" \
           -enableCodeCoverage YES \
           -resultBundlePath result.xcresult

      - name: Run SonarCloud Scanning
        run: |
          bash xccov-to-sonarqube-generic.sh result.xcresult > sonarqube-generic-coverage.xml

          brew install sonar-scanner

          sonar-scanner \
            -Dsonar.token=$SONAR_TOKEN \
            -Dsonar.coverageReportPaths="sonarqube-generic-coverage.xml"
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Increment Version
        id: versioning
        uses: Oliver-Binns/Versioning@4695fba9f63bed5b557094f9a64f7a2b1a7639e8 # pin@v1.1.0
        with:
          ACTION_TYPE: 'Release'
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
